.card1{
    border:1px solid gray;
    width: 300px;
    height: 550px;
    background-color: rgb(91, 184, 176);
    filter: drop-shadow(20px 20px 20px rgb(131, 120, 141));
    border-radius: 40px;
    flex-direction: row;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    flex-wrap: wrap;

}
.imgg img{
    width: 50%;
    height: 200px;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: 20px;
}
h1{
    margin-left: 40px;
}
p{
    margin-left: 40px;
}
